.app-nav.nav-pills {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.app-nav.nav-pills li a {
  color: #ffffff;
  text-decoration: none !important;
  cursor: pointer;
}

.app-nav.nav-pills li a.active {
  background-color: #ffffff;
  color: #417AED;
}

.app-nav--light.nav-pills li a {
  color: #ffffff;
  text-decoration: none !important;
}

.app-nav--light.nav-pills li a:hover {
  background-color: #417AED;
  color: #ffffff !important;
}

.app-nav--light.nav-pills li a.active {
  background-color: #333333;
  color: #ffffff !important;
}
