html, body {
  height: 100vh;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

section {
  margin-bottom: 60px;
}

section .header {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #dee2e6;
  color: #555555;
  font-size: 1.1em;
}

article {
  display: block;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
